* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #6ab7f5, #fff);
  font-family: Arial, sans-serif;
}

.pokedex_container {
  display: inline-block;
  position: relative;
  margin-top: 30px;
  padding: 10px;
}

/* - - - pokedex - - - */
.pokedex {
  width: 100%;
  max-width: 400px;
}

.pokemon_image {
  position: absolute;
  bottom: 55%;
  left: 50%;
  height: 20%;
  transform: translate(-63%, 20%);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.pokemon_data {
  position: absolute;
  font-size: clamp(12px, 5vw, 22px);
  top: 54%;
  right: 26%;
  font-weight: bold;
  color: #505050;
  text-transform: capitalize;
}

/* - - - input - - - */
.form {
  position: absolute;
  width: 60%;
  top: 66%;
  left: 20%;
}

.input_search {
  width: 100%;
  padding: 7px;
  border: 2px solid #222;
  border-radius: 6px;
  box-shadow: -3px 4px 0 #444;
  font-size: clamp(10px, 4vw, 1rem);
  outline: none;
}

/* - - - buttons - - - */
.buttons {
  position: absolute;
  bottom: 12%;
  left: 50%;
  width: 65%;
  transform: translate(-50%);
  display: flex;
  gap: 12px;
}

.button {
  width: 50%;
  padding: 8px;
  border: 2px solid #111;
  border-radius: 6px;
  box-shadow: -3px 4px 0 #666;
  font-size: clamp(10px, 4vw, 1rem);
  font-weight: bold;
  background: #333;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background: #000;
}

.button:active {
  box-shadow: inset -4px 4px 0 #222;
}
